<div class="modal-backdrop">
  <div class="modal-container">
    
    <!-- Encabezado del Modal -->
    <div class="modal-header">
      <div class="title-wrapper">
        <h2>Crear Usuario</h2>
      </div>
      <button type="button" class="btn-close" (click)="close()">
        &times;
      </button>
    </div>

    <!-- Formulario -->
    <form [formGroup]="userForm" >
      <div class="modal-body">
        
        <!-- Nombre Completo -->
        <div class="form-group">
          <label for="fullName">Nombre completo</label>
          <input
            type="text"
            id="fullName"
            formControlName="fullName"
            placeholder="Ej. Carlos Mendoza"
          />
          @if (userForm.get('fullName')?.invalid && userForm.get('fullName')?.touched) {
            <small class="error-text">El nombre completo es obligatorio.</small>
          }
        </div>

        <!-- Usuario -->
        <div class="form-group">
          <label for="username">Usuario</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            placeholder="Ej. cmendoza"
          />
          @if (userForm.get('username')?.invalid && userForm.get('username')?.touched) {
            <small class="error-text">El usuario es obligatorio.</small>
          }
        </div>

        <!-- Contraseña -->
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="••••••••"
          />
          @if (userForm.get('password')?.hasError('required') && userForm.get('password')?.touched) {
            <small class="error-text">La contraseña es obligatoria.</small>
          }
          @if (userForm.get('password')?.hasError('minlength') && userForm.get('password')?.touched) {
            <small class="error-text">Mínimo 6 caracteres.</small>
          }
        </div>

        <!-- Rol del Usuario -->
        <div class="form-group">
          <label for="role">Rol asignado</label>
          <select id="role" formControlName="role">
            <option value="estudiante">Estudiante</option>
            <option value="docente">Docente</option>
            <option value="admin">Administrador</option>
          </select>
        </div>

      </div>

      <!-- Acciones / Botones -->
      <div class="modal-footer">
        <button type="button" class="btn-cancel" (click)="close()">
          Cancelar
        </button>
        <button type="submit" class="btn-submit" (click)="createUser()">
          Crear usuario
        </button>
      </div>
    </form>

  </div>
</div>